*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' sans-serif;
    box-sizing: border-box;
}

.hero{
    background-color: #1d2026 ;
    min-height: 100;
    width: 100%;
    color: #ffffff;
    position: relative;
}