#age-statistics {
  margin: 50px auto;
  max-width: 1000px;
  text-align: center;
}

.chart-container-age {
  position: relative;
  margin: 0 auto;
  height: 500px;
  width: 100%;
}

#stats-age {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.chart-container-age:after {
  content: "";
  display: block;
  clear: both;
}

.chart-container-age .chart-legend {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.chart-container-age .chart-legend li {
  display: inline-block;
  margin-left: 20px;
  font-size: 14px;
  font-weight: bold;
}

.chart-container-age .chart-legend li span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}
